.movie-container{
    height: 340px;
    background: -webkit-gradient(linear, left top, left bottom, from(#1b1b1b), to(#0d0d0d), color-stop(0.75, #0d0d0d));
    color: white;
}
.searched-movie{
    width: 70%;
    margin: auto;
    height: 340px;
    display: flex;
    flex-direction: row;
}
.movie-poster-container{
    margin-right: 10px;
    width: 300px;
    margin: auto;
    height: 300px;
}
.movie-details-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 300px;
    margin: auto;
}

.movie-data {
    background-size: 800px 104px;
    height: 20px;
    position: relative;
    margin: 20px 0 5px 15px;
}
  

.image-shimmer > .movie-data{
  margin: 0;
  height: 300px;
}


.movie-data img{
  width: 100%;
  height: 100%;
  object-fit: fill;
  cursor: pointer;
}

.movie-title > .movie-data{
  height: 50px;
  width: 30%;
}

.movie-released-date > .movie-data{
   margin-top: 0;
   width: 28%;
}
.ratings-details .rotten-details .movie-data,
.ratings-details .imdb-details .movie-data{
  width: 20%;
}

.ratings-details .rotten-details .rotten-source .movie-data,
.ratings-details .imdb-details .imdb-source .movie-data{
   margin-top: 0;
   width: 50%;
}

.ratings-details{
  display: flex;
  flex-wrap: wrap;
}
.rotten-details, .imdb-details , .watched{
  display: inline-block;
  flex-grow: 1;
  width: calc(100% * (1/3) - 10px - 1px)
}

.watched > .movie-data{
  height: 45px;
  width: 45%;
  margin-left: 0;
}

.movie-description-heading > .movie-data{
  width: 30%;
  height: 30px;
}

.movie-plot>.movie-data{
  height: 55px;
  width: 95%;
}

.watched-movie-status{
  background: #00e69e;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border-width: 0;
  width: 100px;
  height: 40px;
  font-weight: bold;
}
.default-watched-movie-status{
  display: none;
}