.timeline-wrapper{
    height: 340px;
    background: -webkit-gradient(linear, left top, left bottom, from(#1b1b1b), to(#0d0d0d), color-stop(0.75, #0d0d0d));
}
.current-item{
    width: 70%;
    margin: auto;
    height: 340px;
    display: flex;
    flex-direction: row;
}
.image-container{
    margin-right: 10px;
    width: 300px;
    margin: auto;
    height: 300px;
}
.details-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 300px;
    margin: auto;
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 20px;
    position: relative;
    margin: 20px 0 5px 15px;
}
  
@keyframes placeHolderShimmer{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}

.image-shimmer > .animated-background{
  margin: 0;
  height: 300px;
}

.movie-title > .animated-background{
  height: 50px;
  width: 30%;
}

.movie-released-date > .animated-background{
   margin-top: 0;
   width: 28%;
}
.ratings-details .rotten-details .animated-background,
.ratings-details .imdb-details .animated-background{
  width: 20%;
}

.ratings-details .rotten-details .rotten-source .animated-background,
.ratings-details .imdb-details .imdb-source .animated-background{
   margin-top: 0;
   width: 50%;
}

.ratings-details{
  display: flex;
  flex-wrap: wrap;
}
.rotten-details, .imdb-details , .watched{
  display: inline-block;
  flex-grow: 1;
  width: calc(100% * (1/3) - 10px - 1px)
}

.watched > .animated-background{
  height: 45px;
  width: 45%;
  margin-left: 0;
}

.movie-description-heading > .animated-background{
  width: 30%;
  height: 30px;
}

.movie-plot>.animated-background{
  height: 55px;
  width: 95%;
}
